<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="app"></div>

    <script type="text/babel">
        const app = document.getElementById('app');

        function Header() {
            return <h1>Develop. Preview. Ship.</h1>;
        }

        function Homepage() {
            return (
                <div>
                    <Header />
                </div>
            );
        }

        const root = ReactDOM.createRoot(app);
        root.render(<Homepage />);
        root.render(<Header />);
    </script>
</body>
</html>